<h1><%= "Product reviews for product_id: #{@product.product_id}, freetext: '#{@product.freetext}'" %></h1>

<% unless @product.reviews.any? %>
  <p>No reviews were fetched</p>
<% else %>
  <ul>
    <% @product.reviews.each do |review| %>
      <li>
        <strong><%= review.title %></strong>
        <p><%= review.message %></p>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to "Back", products_path %>